@using StudyJunction.Core.ViewModels.User
@model LoginViewModel

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<link href="~/assets/css/login.css" rel="stylesheet" />

<div class=" d-flex align-self-center justify-content-center align-items-center m-auto my-5">
    <div class =" mt-5">

        @* <input type="checkbox" id="check"> *@
        <div class="login form">
            <header>Login</header>
            <form asp-area="" asp-controller="Users" asp-action="Login" method="post">
                <div>
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" placeholder="Enter your email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password"></Label>
                    <input type="password" asp-for="Password" placeholder="Create a password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <label for="check">Signup</label>
                </span>
            </div>
        </div>
    </div>   
</div>
