@using StudyJunction.Core.ResponseDTOs;
@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@model CourseViewModel



@{
	ViewData["Title"] = "List of courses";
}

<div class = "row">
	<div class ="col-md-8 offset-md-2">
		<table>
             <tbody>
                @for (int i = 0; i < Model.Courses.Count; i+=3)
                {
                    <tr>
                        @for (int j = i; j < i + 3; j++)
                        {
                            @if (j >= Model.Courses.Count)
                            {
                                break;
                            }
                            var currCourse = Model.Courses.ElementAtOrDefault(j);
                            <img src="@Model.Service.GetResource(currCourse.ThumbnailCloudinaryUri)" width="300" height="300" class="img-thumbnail" class="rounded"/>
                            

                        }
                    </tr>
                }
            </tbody>
		</table>
	</div>
</div>
