@using StudyJunction.Core.ViewModels.WikiSearch
@model WikiResultViewModel


<div>
    <h4>Search Result</h4>
    <p>Snippet: @Model.Snippet</p>
    <a href="@Model.FullWikiPageUri"> Read More</a>
    <!-- Include your actual search result content here -->
</div>